<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!--<add name="PMTConn"  connectionString="Data Source=140.92.10.71;Initial Catalog=III_PMT;Persist Security Info=True;User ID=III_PMT;Password=III_PMT"  providerName="System.Data.SqlClient" />-->
  <!--<add name="PMTConn"  connectionString="Data Source=willyhuang-mic-\sqlexpress;Initial Catalog=III_PMT;Persist Security Info=True;Integrated Security=SSPI;" />-->
</connectionStrings>  

