<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AccountingConn"  connectionString="Data Source=localhost;Initial Catalog=AccountingSys;Integrated Security=True"  providerName="System.Data.SqlClient" />
  <!--<add name="PMTConn"  connectionString="Data Source=willyhuang-mic-\sqlexpress;Initial Catalog=III_PMT;Persist Security Info=True;Integrated Security=SSPI;" />-->
</connectionStrings>  

